TESTRAIL_API_URL="https://10.187.25.89/index.php?/api/v2"
TESTRAIL_USER="minervabiteam@experian.com"
TESTRAIL_API_KEY="CmoEoladpVl7bopZP09S-ZrTO2ZoVEWQOPAnU4l6E"

# Template ID for "BDD"
TESTRAIL_TEMPLATE=4
#Type ID for "Other"
TESTRAIL_TYPE=7
# Project ID for "SaaS"
TESTRAIL_PROJECT_ID=27
# Suite ID for "Master" under project "SaaS"
TESTRAIL_SUITE_ID=258
# Assigned To ID for "saas_bi" user
TESTRAIL_ASSIGNEDTO_ID=

: << 'API_ID_MAPPING'
# Section value to API ID mapping
# Clean Up > BI is mapped to all below
BI_Event_Consumer:429836
BI_Data_Store:429836
BI_Microstrategy_iServer:429836
BI_Microstrategy_Web:429836
BI_Monitoring:429836

# Priority value to API ID mapping 
P1:4
P2:3
P3:2
P4:1

# Custom test type
User_Story_Acceptance:1
User_Journey_Acceptance:5
Performance:10
Security:15
Internationalization:20
Localization:25
Upgrade:30
Backward_Compatibility:35
Disaster_Recovery:40
Accessibility:45
Compliance:50
Resilience:55
Usability:60

# Custom use case
ACF:1
UserJourner:2

# Custom execution type
Automated:1
Manual:2

API_ID_MAPPING

